#all {
    min-height: 880px;

    display: flex;

    flex-direction: column;
    justify-content: center;
}

#middleText {
    margin-bottom: 100px;

    padding-left: 8%;
    padding-right: 8%;
}

.arrowUp {
    padding-bottom: 40px;
}

.space {
    padding-right: 30px;
}

.figurePersona {
    min-width: 200px;
}

.textPersona {
    font-size: 1.1rem;
}

.personaFlagsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}   

.figureFlag {
    margin: 0px;
}